# Maven / Compilación
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Entorno y Git
.env
.env.*
.git/
.github/
.gitignore
.gitattributes

# Archivos del sistema y editores
.vscode/
.idea/
*.iml
.project
.classpath
.settings/
.DS_Store
*.log

# Archivos de Docker
Dockerfile
.dockerignore
