# Configuración de Base de Datos PostgreSQL
DATABASE_URL=jdbc:postgresql://localhost:5434/kubodb
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=your_database_password

# Configuración de MinIO
MINIO_URL=http://localhost:9000
MINIO_ACCES_KEY=minio_admin
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET_NAME=kubo-drive

# Seguridad JWT
JWT_SECRET_KEY=your_jwt_secret_key_here
